{% extends "base.html" %}

{% block content %}
{% load static %}
<h2>{{ title }}</h2>

<form action="{% url 'thanks_page' %}" method="POST">
  {% csrf_token %}

  <select name="product">
    {% for p in products %}
      <option value="{{ p.id }}">{{ p.name }}</option>
    {% endfor %}
  </select>

  <label for="full_name">ФИО:</label>
  <input type="text" name="full_name" id="full_name" required>

  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required>

  <label for="comment">Текст отзыва:</label>
  <textarea name="comment" id="comment" required></textarea>

  <label for="verified">Проверено:</label>
  <input type="checkbox" name="verified" id="verified">

  <button type="submit">Отправить</button>
</form>

{% endblock %}
