{% extends "base.html" %}

{% block content %}
{% load static %}
<h2>{{ title }}</h2>

<form action="{% url 'thanks_page' %}" method="POST">
  {% csrf_token %}

  <!-- Поле для ФИО -->
    <label for="full_name">ФИО:</label>
    <input type="text" id="full_name" name="full_name" required><br><br>

    <!-- Поле для Email -->
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <!-- Поле для комментария -->
    <label for="comment">Комментарий:</label>
    <textarea id="comment" name="comment" required></textarea><br><br>

    <!-- Выбор товара -->
    <label for="product">Выберите товар:</label>
    <select name="product" id="product">
        {% for product in products %}
            <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
    </select><br><br>

    <!-- Чекбокс "Я не робот" -->
    <label for="verified">Проверено: </label>
    <input type="checkbox" id="verified" name="verified">
    <span>Я не робот</span><br><br>

    <!-- Кнопка отправки -->
    <button type="submit">Отправить</button>
</form>

{% endblock %}
