{% extends 'base.html' %}

{% block content %}

{% load static %}
<h1>{{title}}</h1>
<br>
<h2>AI Blog — это ведущая платформа для всех, кто интересуется ИИ. Здесь вы найдете:</h2>
<ul>
    <li>Актуальные новости из мира технологий.</li>
    <li>Подробные обзоры последних достижений в области искусственного интеллекта.</li>
    <li>Полезные руководства для изучения ИИ с нуля.</li>
    <li>Мнения экспертов и аналитика от профессионалов.</li>
</ul>
<br>
<br>
<img src="{% static 'images/Blog 01 - Highlight.png' %}" alt="Описание изображения" style="width: 1200px; height: auto;">
<img src="{% static 'images/Frame 1.png' %}" alt="Описание изображения" style="width: 1200px; height: auto;">

<h2>Почему стоит выбрать нас?</h2>
<p>Мы делаем сложное понятным! Наша цель — не просто информировать, а вдохновлять и мотивировать изучать и использовать ИИ в своей жизни.</p>
<ul>
    <li>Доступно для всех: Простым языком о сложных вещах.</li>
    <li>Инновации рядом: Самые свежие темы, которые меняют мир.</li>
    <li>Сообщество: Присоединяйтесь к нашему миру технологий и знаний.</li>

</ul>
<br>
<h2>Узнайте больше о возможностях ИИ</h2>
<ul>
    <li>📌 Как ИИ изменяет мир?</li>
    <li>📌 Где можно применить ИИ уже сегодня?</li>
    <li>📌 Какие профессии востребованы в эпоху технологий?</li>
    <li>Мы раскрываем эти темы и многое другое.</li>
</ul>
<br>
<h2>Присоединяйтесь к нам!</h2>
<p>Подпишитесь на наш блог, чтобы не пропустить обновления, курсы и мероприятия. Вместе мы откроем мир технологий будущего!</p>
<br>
<br>
<p><a>Читать блог<a>   /   <a>О нас<a>   /   <a>Контакты<a></p>

{% endblock %}